<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>너와 나의 생각 엮기</title>
</head>
<body>
	<h1>회원 로그인</h1>
	<div th:replace="fragments/nav.html :: fragment-body-menu"></div>
	
	<form method="post" action="/member/login">
		<div>
			<label>
				<input type="text" name="username" placeholder="아이디(이메일)을 입력" required/>
			</label>
		</div>
		<div>
			<label>
				<input type="password" name="password" placeholder="비밀번호 입력" required/>
			</label>
		</div>
		<div>
			<button type="submit"> 로그인 </button>
		</div>
	
	</form>
	
	<hr/>
	<div>
		<a href="/member/find/password"> 비밀번호 찾기</a>
	</div>
</body>
</html>